#mainNav {
  min-height: 50px;
  background:  linear-gradient(
    to bottom,
    #{fade-out($black, 0.1)} 60%,
    #{fade-out($black, 0.3)} 90%,
    );
  .nav-link{
    color: fade-out(aquamarine, 0.2);
    .social{
      color:fade-out(aquamarine, 0.2);
    }
  }
  .navbar-toggler {
    font-size: 40%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color:  $gray-400;
    font-weight: 700;
    padding: .9rem 0;
    font-family:'Nunito';
  }
  .navbar-nav {
    .nav-item {
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: .5rem 0;
      color: fade-out($white, .5);
      font-family:'Nunito';
    }
    .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: white;
      font-weight: 500;
      .social{
        font-size: large;
        color:white;
        &:hover{
          color:aquamarine;
        }
      }
      &:hover{
        color:aquamarine;
      }
      &:active {
        color: white;
      }
    }
    &.navbar-shrink {
      background-color: $white;
      .navbar-brand {
        color: $black;
        font-family:'Nunito';
      }
      .nav-link {
        color: $black;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $primary;
        }
        &:active {
          color: darken($primary, 15%);
        }
        &.active {
          color: $primary;
          outline: none;
          border-bottom: 0.25rem solid $primary;
        }
        .social{
          font-size: large;
          color:$black;
          &:hover{
            color:$primary;
          }
        }
      }
    }
  }
}
